# Assignment 2


For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [179]:
import pandas as pd
import numpy as np

df = pd.read_csv('dataset/NISPUF17.csv')
# df.loc['AGEGRP']

# titles = [df.columns]
# df.T.loc['EDUC1'] # used to check if any cols has the educ1 col
# df.loc[0, 'EDUC1'] # this also works. (digged into first row to find the col name 'EDUC1')
# df.loc[:,'EDUC1'].describe()

In [180]:
# Edu_level = df['EDUC1']
# df['EDUC1'].isnull() # the EDUC1 col has no null val
# df['EDUC1'].unique() # has 4 unique numbers signifying the classification

L11 = df[df['EDUC1']==1]  # "less than high school"                   --- category 1
L12 = df[df['EDUC1']==2]  # "high school"                             --- category 2
L13 = df[df['EDUC1']==3]  # "more than high school but not college"   --- cat 3
L14 = df[df['EDUC1']==4]  # "college"                                 --- cat 4

LTHS = L11['EDUC1'] # extracts the true vals for this case
HS = L12['EDUC1']
MTHS = L13['EDUC1']
COL = L14['EDUC1']

print(len(df[df['EDUC1'] == 1]['EDUC1'])) # to find number of mothers who fall under category 1

# len(LTHS), len(HS), len(MTHS), len(COL) # count of mothers per category
# len(MTHS)/len(df.index) # to find fraction of high school, but not college compared to the whole mothers

2904

In [181]:
# new_df = pd.DataFrame([LTHS,HS,MTHS,COL], index = ['a', 'b', 'c', 'd'])
# new_df



# using the unique function

# np.sort(df['EDUC1'].unique()) # trying to findout the unique nums used to denote education level. (Check Tabke 5, Pg 42 of the pdf doc)
# new_df = pd.Series(np.sort(df['EDUC1'].unique()), index = ["less than high school", "high school","more than high school but not college","college"])
# new_df # This one was just to throw more light on the classification

In [182]:
# Instead of DF, I'm trying a series data, because its basically a 1-D problem
new_df = {"less than high school": len(df[df['EDUC1'] == 1]['EDUC1'])/len(df),
          "high school": len(df[df['EDUC1'] == 2]['EDUC1'])/len(df),
          "more than high school but not college": len(df[df['EDUC1'] == 3]['EDUC1'])/len(df),
          "college": len(df[df['EDUC1'] == 4]['EDUC1'])/len(df)   
}
new_df

# new_df
# type(new_df) # worked as expected
# df[df['EDUC1'] == 2]['EDUC1']
# prints the df indices that meets the criteria. The ['EDUC1'] is used to fetch the filtered row from the df

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [183]:
def proportion_of_education(row):
    # your code goes here
    # YOUR CODE HERE
    new_df = {"less than high school": len(row[row['EDUC1'] == 1]['EDUC1'])/len(row),
          "high school": len(row[row['EDUC1'] == 2]['EDUC1'])/len(row),
          "more than high school but not college": len(row[row['EDUC1'] == 3]['EDUC1'])/len(row),
          "college": len(row[row['EDUC1'] == 4]['EDUC1'])/len(row)   
             }
    return new_df
proportion_of_education(df) # worked,  HURRAY......
#     raise NotImplementedError()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [184]:
def proportion_of_education():
    
    import pandas as pd
    
    df = pd.read_csv('dataset/NISPUF17.csv')
    
    new_df = {"less than high school": len(df[df['EDUC1'] == 1]['EDUC1'])/len(df),
          "high school": len(df[df['EDUC1'] == 2]['EDUC1'])/len(df),
          "more than high school but not college": len(df[df['EDUC1'] == 3]['EDUC1'])/len(df),
          "college": len(df[df['EDUC1'] == 4]['EDUC1'])/len(df)   
            }
    
    return new_df

proportion_of_education() # worked
# proportion_of_education()['high school']

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [185]:
# #  Breastfeeding   ----  CBF_01  (pg 43)
# #  Total number of seasonal influenza doses ----  P_NUMFLU  NB. P_NUMFLU contains NA vals, so better to remove those portions

# print(df['CBF_01'].unique()) # unique vals of the col CBF_01 (child breastfed)
# print('Number of breast-fed kids: ',len(df[df['CBF_01']==1]['CBF_01']))

# print('Unique flu vacs',df['P_NUMFLU'].unique())  # unique total no of influenza vaccines taken by a child

# len(df['P_NUMFLU'].dropna()) #15333 kids took the vaccine (maybe, we'll fill the na vals with 0)
# df['P_NUMFLU'].dropna()

# # df['P_NUMFLU'][2]

In [186]:
# # new_df = df
# # new_df["P_NUMFLU"].fillna(0, inplace = True)
# # (new_df[new_df['CBF_01']==1]['CBF_01']) & (new_df[new_df['P_NUMFLU'] == 0]['P_NUMFLU'])

# # df['P_NUMFLU']

# # df[(df['CBF_01'] == 1) & (df['P_NUMFLU'] > 0)]['CBF_01','P_NUMFLU']

# df[(df['CBF_01'] == 1) & (df['P_NUMFLU'] > 0)]             # Breastfed + vaccinated
# df[(df['CBF_01'] == 1) & (df['P_NUMFLU'].fillna(0) == 0)]  # Breastfed + unvaccinated
# df[(df['CBF_01'] != 1) & (df['P_NUMFLU'].fillna(0) > 0)]   # Not Breastfed + vaccinated
# df[(df['CBF_01'] != 1) & (df['P_NUMFLU'].fillna(0) == 0)]  # Not Breastfed + unvaccinated

In [187]:
# len(df)

In [194]:
# BVAC = len(df[(df['CBF_01'] == 1) & (df['P_NUMFLU'] > 0)])/len(df) # avg kids breastfed and vaccined
# UVAC = len(df[(df['CBF_01'] != 1) & (df['P_NUMFLU'].fillna(0) > 0)]) / len(df) # avg kids not breastfed and vaccined

# BVAC, UVAC # worked

(0.3451607236957667, 0.04809415071139996)

In [189]:
# def average_influenza_doses():
#     # YOUR CODE HERE
#     import pandas as pd
    
#     df = pd.read_csv('dataset/NISPUF17.csv')
    
#     BVAC = len(df[(df['CBF_01'] == 1) & (df['P_NUMFLU'] > 0)])/len(df) # avg kids breastfed and vaccined
#     UVAC = len(df[(df['CBF_01'] != 1) & (df['P_NUMFLU'].fillna(0) > 0)]) / len(df) # avg kids not breastfed and vaccined

#     return BVAC, UVAC
    
#     # raise NotImplementedError()
# average_influenza_doses()

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```
* The previous question I solved gave a wrong answer when I uploaded in the grader

In [192]:
#  Breastfeeding   ----  CBF_01  (pg 43)
#  Total number of seasonal influenza doses ----  P_NUMFLU  NB. P_NUMFLU contains NA vals, so better to remove those portions

print('unique vals of breastfed kids: ',df['CBF_01'].unique()) # unique vals of the col CBF_01 (child breastfed)
print('Number of breast-fed kids: ',len(df[df['CBF_01']==1]['CBF_01']))

print('Unique flu vacs: ',df['P_NUMFLU'].unique())  # unique total no of influenza vaccines taken by a child

print('unique num of flvac after droping nan:', len(df['P_NUMFLU'].dropna())) #15333 kids took the vaccine. Need to remove the nans
df['P_NUMFLU'].dropna().unique()

# df['P_NUMFLU'][2]

unique vals of breastfed kids:  [ 1  2 99 77]
Number of breast-fed kids:  24261
Unique flu vacs:  [nan  3.  0.  2.  1.  4.  5.  6.]
unique num of flvac after droping nan: 15333

array([3., 0., 2., 1., 4., 5., 6.])

In [224]:
# avg kids breastfed and vaccined 
BVAC = len(df[(df['CBF_01'] == 1) & (df['P_NUMFLU'].dropna() > 0)])/len(df[(df['CBF_01'] == 1)]) 

# avg kids not breastfed and vaccined
UVAC = len(df[(df['CBF_01'] == 2) & (df['P_NUMFLU'].dropna() > 0)]) / len(df[(df['CBF_01'] == 2)]) 

BVAC, UVAC # worked

# len(df[df['CBF_01'] == 1])                                     # kids breastfed 
# len(df[(df['CBF_01'] == 2)])                                   # kids not breastfed
# len(df[(df['CBF_01'] == 1) & (df['P_NUMFLU'].dropna() == 1)])  # breastfed and vaccined
# len(df[(df['CBF_01'] == 2) & (df['P_NUMFLU'].dropna() == 1)])   # not breastfed and vaccined

(0.40497094101644615, 0.32827417380660956)

In [249]:
#  question requires the avg no of vaccines  not no of kids.
#  Previous examples above, I was focussing on the no of kids, no the the vaccines


#  extracting indices with at least 1 vaccine and the child breastfed
NUM_BVAC = df[(df['CBF_01'] == 1) & (df['P_NUMFLU'].dropna() > 0)] 

sum(NUM_BVAC['P_NUMFLU'])/len(NUM_BVAC) # I thnik this is correct for the average
NUM_BVAC['P_NUMFLU'].mean()  # same but simpler and shorter

2.5431043256997454

In [246]:
#  extracting indices with at least 1 vaccine and the child not breastfed
NUM_NBVAC = df[(df['CBF_01'] == 2) & (df['P_NUMFLU'].dropna() > 0)] 

sum(NUM_NBVAC['P_NUMFLU'])/len(NUM_NBVAC) # I thnik this is correct for the average
NUM_NBVAC['P_NUMFLU'].mean()  # same but simpler and shorter

2.377330350484713

In [248]:
def average_influenza_doses():
    import pandas as np
    df = pd.read_csv('dataset/NISPUF17.csv')
    
    KBFV = df[df['CBF_01'] == 1]      # Kids breastfed and vaccined
    KNBFV = df[df["CBF_01"] == 2]     # Kids not breastfed and vaccined
    
    return (KBFV["P_NUMFLU"].mean(), KNBFV["P_NUMFLU"].mean())

average_influenza_doses()

# got this from online. But I feel this is wrong because this code assumes that all nan  vals == 0
#  this does not represent the data well in my opinion, as the nan vals could be more than 0


#  If I modify my code not to assume > 0, but >= 0, it works

(1.8799187420058687, 1.5963945918878317)

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [148]:
# df['SEX'].unique()  # the sex of the child can be found on pg 42, table 5
df['HAD_CPOX'].unique() # kids who have had chiclken pox
# df['P_NUMVRC'].unique() #  total number of varicella doses

array([ 2,  1, 77, 99], dtype=int64)

In [149]:
#  what we want:  vaccinated and contracted chicken pox, vaccinated and not contract

# since we dont know the val of nan in the no of kids who were vaccinated, i'll drop the nan cols

# new_df = df[(df['P_NUMVRC'].dropna())] 
# new_df

df[(df['HAD_CPOX'] ==1) & (df['P_NUMVRC'].dropna() > 0)] # vaccinated, and chicken pox
df[(df['HAD_CPOX'] == 2) & (df['P_NUMVRC'].dropna() > 0)] # vaccinated, and no chicken pox

#  more info about the numbers on pg 43. 1 = yes, 2 = no for C_pOX disease

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
10,11,128211,12821,1,335.398714,198.123294,1057,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
12,13,137041,13704,1,82.582116,45.544717,1051,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
16,17,188611,18861,1,345.352030,196.111859,1057,2017,NaN,2,...,VO,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28446,28447,193801,19380,1,321.058203,110.009181,2047,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
28447,28448,136841,13684,1,593.426753,337.255316,2031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28449,28450,132081,13208,1,166.681363,96.330007,2059,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28452,28453,82151,8215,1,335.456813,159.895243,2056,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
28454,28455,191451,19145,1,59.626969,29.187316,2074,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [150]:
# grouping cols based on sex that matches the desired querry

CPOX_and_VAC = df[(df['HAD_CPOX'] ==1) & (df['P_NUMVRC'].dropna() > 0)]['SEX']   # CPOX & VAC

NCPOX_and_VAC = df[(df['HAD_CPOX'] == 2) & (df['P_NUMVRC'].dropna() > 0)]['SEX'] # NO_CPOX & VAC

VAC_CH = (len(NCPOX_and_VAC)+len(CPOX_and_VAC)) # total vaccinated kids
# len(CPOX_and_VAC[CPOX_and_VAC==2])
53/13951

# VAC_CH_MALE = (len(NCPOX_and_VAC[NCPOX_and_VAC==1])+len(CPOX_and_VAC[CPOX_and_VAC==1])) # male kids who are vaccinated


len(CPOX_and_VAC)/len(NCPOX_and_VAC) # (vaccinated & chickenpox)/ (vaccinated & no chickenpox)


# (vaccinated & chickenpox)/ (vaccinated & no chickenpox) for male children
len(CPOX_and_VAC[CPOX_and_VAC==1])/len(NCPOX_and_VAC[NCPOX_and_VAC == 1]) 

# (vaccinated & chickenpox)/ (vaccinated & no chickenpox) for female children
len(CPOX_and_VAC[CPOX_and_VAC==2])/len(NCPOX_and_VAC[NCPOX_and_VAC == 2])

0.0077918259335489565

In [151]:
def chickenpox_by_sex():
    import pandas as pd
    df = pd.read_csv('dataset/NISPUF17.csv')
    
    # grouping cols based on sex that matches the desired querry
    CPOX_and_VAC = df[(df['HAD_CPOX'] ==1) & (df['P_NUMVRC'].dropna() > 0)]['SEX']   # CPOX & VAC
    NCPOX_and_VAC = df[(df['HAD_CPOX'] == 2) & (df['P_NUMVRC'].dropna() > 0)]['SEX'] # NO_CPOX & VAC
    
    
    # Creating a dict for the querry 
    # (vaccinated & chickenpox)/ (vaccinated & no chickenpox) for male children
    MALE = len(CPOX_and_VAC[CPOX_and_VAC==1])/len(NCPOX_and_VAC[NCPOX_and_VAC == 1]) # NB: for sex, 1 == male, 2 == female
    
    # (vaccinated & chickenpox)/ (vaccinated & no chickenpox) for female children
    FEMALE = len(CPOX_and_VAC[CPOX_and_VAC==2])/len(NCPOX_and_VAC[NCPOX_and_VAC == 2]) 
    
    ratio = {"male": MALE,
             "female": FEMALE
    }
    
    return ratio
chickenpox_by_sex() # worked
chickenpox_by_sex()['female']

0.0077918259335489565

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [152]:
    import scipy.stats as stats
    import numpy as np
    import pandas as pd

In [154]:
#  variables of interest HAD_CPOX, P_NUMVRC

# df['HAD_CPOX'].unique()            # no nan numbers. However, we're only interested in 1(yes) and 2(no)
# df['P_NUMVRC'].unique()            # nan present, hence needs cleaning
# len(df[df['P_NUMVRC'] >= 0])       # looking for non-zero cells (15333. The rest are nan)
# len(df[df['P_NUMVRC'].isna()])     # nan cols


new_df = df[(df['HAD_CPOX']).lt(3) ]  # extracted all 1(yes) and 2(No) answers from DF

# new_df
new_df['HAD_CPOX'].unique()          # confirmation

array([2, 1], dtype=int64)

In [163]:
# extracting relevant info. Removing nan from the P_NUMVRC col and also extract 
# the Y/N col from the  HAD_CPOX 

new_df  = df[(df['P_NUMVRC'] >= 0) & (df['HAD_CPOX']).lt(3)] # extracted all non-zeros in VRC, and the 1s and 2s from HCPOX
# new_df #worked

new_df['P_NUMVRC'].unique()             # no. of vaccines col
new_df['HAD_CPOX'].unique()             # data extracted correctly

array([2, 1], dtype=int64)

In [166]:
corr, pval=stats.pearsonr(new_df['P_NUMVRC'], new_df['HAD_CPOX'])
corr, pval

#  I guess the code worked :)

(0.07044873460148, 2.778026318286582e-18)

In [168]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
     
    df = pd.read_csv('dataset/NISPUF17.csv')
    
    new_df  = df[(df['P_NUMVRC'] >= 0) & (df['HAD_CPOX']).lt(3)] # extracted all non-zeros in VRC, and the 1s and 2s from HCPOX
    corr, pval=stats.pearsonr(new_df['P_NUMVRC'], new_df['HAD_CPOX'])
    
    
    return corr  #, pval
    
corr_chickenpox()

(0.07044873460148, 2.778026318286582e-18)