# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

As this assignment utilizes global variables in the skeleton code, to avoid having errors in your code you can either:

1. You can place all of your code within the function definitions for all of the questions (other than import statements).
2. You can create copies of all the global variables with the copy() method and proceed as usual.

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df=pd.read_csv("assets/nhl.csv")


cities=pd.read_html("assets/wikipedia_data.html")
type(cities) # list, not a df
# dir(cities) # to see what manipulations can be done
# cities[28] # using len(sities), we can find various tables. From the ques the needed data is extracted below

cities=pd.read_html("assets/wikipedia_data.html")[1] # extracting the 2nd table from the webpage since it is a df
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities


# removing all [notes] and --- from the df
cities.replace('\[.*\]','', regex =True, inplace = True)
# cities.replace( ' ',np.nan, regex=True)

# removing all '*' from nhl_df
nhl_df.replace(to_replace='[*]', value = '', regex = True, inplace=True)


# Renaming population cols in the cities df
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)

# nhl_df


# the cities contain the teams for the metropolitan area. That means we can link the teams to the individual df

In [2]:
# ========== Getting the nhl teams from cities. We're ignoring --- and empty cells
cities['NHL'] = cities['NHL'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)

cities


nhl_df['year'].unique()

#  extracting 2018 data from the nhl
nhl_df = nhl_df[nhl_df['year'] == 2018]

# nhl_df['team'].unique(), cities['Metropolitan area'].unique()



# pd.merge(cities['Metro, nhl_df['team'], how = 'left')
nhl_df.drop(index = [0,9,18,26], inplace=True) # removed the texts from the team(i.e the divisiions)
# cities

In [3]:
# for i in (nhl_df['team']):
#     print(cities['Metropolitan area'].split('').str.contains(i))


def spl_vals(name):
    return name.split(' ')

# Using apply
cities['Metropolitan area'].apply(spl_vals)        

# Using map
list(map(spl_vals,cities['Metropolitan area']))
# cities['Metropolitan area']

# using lambda
for i in cities['Metropolitan area']: # sinlges out the str of each row
    print((lambda town: town.split())(i))

cities

['New', 'York', 'City']
['Los', 'Angeles']
['San', 'Francisco', 'Bay', 'Area']
['Chicago']
['Dallas–Fort', 'Worth']
['Washington,', 'D.C.']
['Philadelphia']
['Boston']
['Minneapolis–Saint', 'Paul']
['Denver']
['Miami–Fort', 'Lauderdale']
['Phoenix']
['Detroit']
['Toronto']
['Tampa', 'Bay', 'Area']
['Pittsburgh']
['St.', 'Louis']
['Nashville']
['Buffalo']
['Montreal']
['Vancouver']
['Columbus']
['Calgary']
['Ottawa']
['Edmonton']
['Winnipeg']
['Las', 'Vegas']
['Raleigh']

,Metropolitan area,Population,NFL,MLB,NBA,NHL
0,New York City,20153634,Giants Jets,Yankees Mets,Knicks Nets,Rangers Islanders Devils
1,Los Angeles,13310447,Rams Chargers,Dodgers Angels,Lakers Clippers,Kings Ducks
2,San Francisco Bay Area,6657982,49ers Raiders,Giants Athletics,Warriors,Sharks
3,Chicago,9512999,Bears,Cubs White Sox,Bulls,Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals,Wizards,Capitals
6,Philadelphia,6070500,Eagles,Phillies,76ers,Flyers
7,Boston,4794447,Patriots,Red Sox,Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild
9,Denver,2853077,Broncos,Rockies,Nuggets,Avalanche
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers,Pistons,Red Wings
13,Toronto,5928040,—,Blue Jays,Raptors,Maple Leafs
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,,Penguins
22,St. Louis,2807002,,Cardinals,,Blues
26,Nashville,1865298,Titans,—,—,Predators
29,Buffalo,1132804,Bills,,,Sabres
30,Montreal,4098927,—,,—,Canadiens
31,Vancouver,2463431,—,—,,Canucks
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
39,Winnipeg,778489,—,—,—,Jets
43,Las Vegas,2155664,,—,—,Golden Knights
47,Raleigh,1302946,—,—,—,Hurricanes

In [4]:
    
# mapping metropolitan areas to teams

# What we want to do is to match at least 1 word from the metropolitan area to the teams
cities = cities.explode('NHL') # Although a list, the list has been 'exploded' into series str More info in the pd docs
# cities['NHL_Edit'] = cities['NHL'].apply(lambda last: last.split(' ')[-1])

nhl_df = nhl_df.explode('team') # same explanation above

# extracting the most important cols from the nhl_df
nhl_df = nhl_df.loc[:, ['team', 'W', 'L']]

# extracting the last name to make merging easier
# nhl_df['NHL_short'] = nhl_df['team'].apply(lambda last: last.split(' ')[-1])
nhl_df['NHL_short'] = nhl_df['team'].str.split(' ').str[-1] # simiilar to the lambda


# len(cities)
# len(nhl_df)

cities # since we have  the last names, we will match the nhl data's teams to have a corresponding Metro area
nhl_df

                     team   W   L   NHL_short
1     Tampa Bay Lightning  54  23   Lightning
2           Boston Bruins  50  20      Bruins
3     Toronto Maple Leafs  49  26       Leafs
4        Florida Panthers  44  30    Panthers
5       Detroit Red Wings  30  39       Wings
6      Montreal Canadiens  29  40   Canadiens
7         Ottawa Senators  28  43    Senators
8          Buffalo Sabres  25  45      Sabres
10    Washington Capitals  49  26    Capitals
11    Pittsburgh Penguins  47  29    Penguins
12    Philadelphia Flyers  42  26      Flyers
13  Columbus Blue Jackets  45  30     Jackets
14      New Jersey Devils  44  29      Devils
15    Carolina Hurricanes  36  35  Hurricanes
16     New York Islanders  35  37   Islanders
17       New York Rangers  34  39     Rangers
19    Nashville Predators  53  18   Predators
20          Winnipeg Jets  52  20        Jets
21         Minnesota Wild  45  26        Wild
22     Colorado Avalanche  43  30   Avalanche
23        St. Louis Blues  44  32       Blues
24           Dallas Stars  42  32       Stars
25     Chicago Blackhawks  33  39  Blackhawks
27   Vegas Golden Knights  51  24     Knights
28          Anaheim Ducks  44  25       Ducks
29        San Jose Sharks  45  27      Sharks
30      Los Angeles Kings  45  29       Kings
31         Calgary Flames  37  35      Flames
32        Edmonton Oilers  36  40      Oilers
33      Vancouver Canucks  31  40     Canucks
34        Arizona Coyotes  29  41     Coyotes

In [5]:
# ===========  NHL edit contains the last name of the teams. This team also has
# a corresponding val that can be found in the Metropolitan area. =================

# def find_metro(team):
#     for item in cities['NHL'].values: # printing val in cities['NHL']
# #         print(item) # various vals of the cities['NHL']
# #         print(team) # series obj. We can try to set index outside, but I dont want to confuse myself
            
#         for team_val in team.values:
# #             print(team_val)
#             if team_val in item: # checking to see if the last words in team(i.e. nhl_df) exists in cities['NHL']
# #                 print(team_val)
#                 print(cities.at[team.values,'Metropolitan area'])
# #                 return 
            
# # we want to return the metropolitan areas 
# find_metro(nhl_df['NHL_short'])


# ============================== facing issues with the indexing. Trying to set index values to nhl df so I dont have to worry about indexing props to use ==============
cities = cities.set_index('NHL') # uncomment this if you're running for the first time
cities

# # ====================== METHOD 1 ===========================
def find_metro(team):
    for item in cities.index: # just looping throgh the cities.index array
#         print(item)
#         print(team)
        if team in item:
#             print(cities.at[item, 'Metropolitan area']) # failed to print when I called the function but worked when I used the .apply
            return cities.at[item, 'Metropolitan area'] #alternatively we can use the loc
            
nhl_df['NHL_short'].values
nhl_df["Metro Area"] = nhl_df['NHL_short'].apply(find_metro)
nhl_df
# find_metro(nhl_df['NHL_short'])

# # ======================== another way ================

# def find_metro(team):
# #     len(cities.index)
#      i = 0
#     for item in cities.index:
# #         print(item)
# #             print(i)
#         if (team.values[i] in item):
#             print(i, team.values[i], item)
#             i+=1
            
# find_metro(nhl_df['NHL_short']) # just prints out 1 val
# # range(len(cities.index))
# nhl_df['NHL_short'].apply(find_metro)



# METHOD 1 WORKS

                     team   W   L   NHL_short              Metro Area
1     Tampa Bay Lightning  54  23   Lightning          Tampa Bay Area
2           Boston Bruins  50  20      Bruins                  Boston
3     Toronto Maple Leafs  49  26       Leafs                 Toronto
4        Florida Panthers  44  30    Panthers   Miami–Fort Lauderdale
5       Detroit Red Wings  30  39       Wings                 Detroit
6      Montreal Canadiens  29  40   Canadiens                Montreal
7         Ottawa Senators  28  43    Senators                  Ottawa
8          Buffalo Sabres  25  45      Sabres                 Buffalo
10    Washington Capitals  49  26    Capitals        Washington, D.C.
11    Pittsburgh Penguins  47  29    Penguins              Pittsburgh
12    Philadelphia Flyers  42  26      Flyers            Philadelphia
13  Columbus Blue Jackets  45  30     Jackets                Columbus
14      New Jersey Devils  44  29      Devils           New York City
15    Carolina Hurricanes  36  35  Hurricanes                 Raleigh
16     New York Islanders  35  37   Islanders           New York City
17       New York Rangers  34  39     Rangers           New York City
19    Nashville Predators  53  18   Predators               Nashville
20          Winnipeg Jets  52  20        Jets                Winnipeg
21         Minnesota Wild  45  26        Wild  Minneapolis–Saint Paul
22     Colorado Avalanche  43  30   Avalanche                  Denver
23        St. Louis Blues  44  32       Blues               St. Louis
24           Dallas Stars  42  32       Stars       Dallas–Fort Worth
25     Chicago Blackhawks  33  39  Blackhawks                 Chicago
27   Vegas Golden Knights  51  24     Knights               Las Vegas
28          Anaheim Ducks  44  25       Ducks             Los Angeles
29        San Jose Sharks  45  27      Sharks  San Francisco Bay Area
30      Los Angeles Kings  45  29       Kings             Los Angeles
31         Calgary Flames  37  35      Flames                 Calgary
32        Edmonton Oilers  36  40      Oilers                Edmonton
33      Vancouver Canucks  31  40     Canucks               Vancouver
34        Arizona Coyotes  29  41     Coyotes                 Phoenix

in the code above, we used the last names of the `nhl_df['team']`. Since there is a match between the last name and the NHL teams in the cities df, we tried to match it.


the function `find_metro()` is used to iterate throgh the column of the nhl_df. If there is a match, the corresponding link of that particluar index with `cities['NHL']` is used to pick the correspondin metropolitan area.

```python
def find_metro(team):
    for item in cities.index:
        if team in item:
            return cities.at[item, 'Metropolitan area'] 
            
nhl_df["Metro Area"] = nhl_df['NHL_short'].apply(find_metro)

```
NB: 1. we set the city's index to NHL.

    2. the team here refers to the val of the df col we are trying to iterate/match  (in this case, the last names of nhl_df {called as 'NHL_short' column})
    
    3. if the team value is present in the city.index, we return the index val of the item with its corresponding metropolitan name. .loc can also be used but it is slower
    
#### explanation of the return val:
`cities.at['particular index row (in this case item', 'column to access (in this case metropolitan)']`

In [6]:
#  ============ Converting the W, L columns to values since they are strings =======

nhl_df[['W', 'L']] = nhl_df[['W', 'L']].astype(int)
nhl_df
nhl_df = nhl_df.groupby('Metro Area').agg(np.sum)  # summing up the Metro Area replica values
nhl_df

,team,W,L,NHL_short
Metro Area,,,,
Boston,Boston Bruins,50,20,Bruins
Buffalo,Buffalo Sabres,25,45,Sabres
Calgary,Calgary Flames,37,35,Flames
Chicago,Chicago Blackhawks,33,39,Blackhawks
Columbus,Columbus Blue Jackets,45,30,Jackets
Dallas–Fort Worth,Dallas Stars,42,32,Stars
Denver,Colorado Avalanche,43,30,Avalanche
Detroit,Detroit Red Wings,30,39,Wings
Edmonton,Edmonton Oilers,36,40,Oilers
Las Vegas,Vegas Golden Knights,51,24,Knights
Los Angeles,Anaheim DucksLos Angeles Kings,89,54,DucksKings
Miami–Fort Lauderdale,Florida Panthers,44,30,Panthers
Minneapolis–Saint Paul,Minnesota Wild,45,26,Wild
Montreal,Montreal Canadiens,29,40,Canadiens
Nashville,Nashville Predators,53,18,Predators
New York City,New Jersey DevilsNew York IslandersNew York Ra...,113,105,DevilsIslandersRangers
Ottawa,Ottawa Senators,28,43,Senators
Philadelphia,Philadelphia Flyers,42,26,Flyers
Phoenix,Arizona Coyotes,29,41,Coyotes
Pittsburgh,Pittsburgh Penguins,47,29,Penguins
Raleigh,Carolina Hurricanes,36,35,Hurricanes
San Francisco Bay Area,San Jose Sharks,45,27,Sharks
St. Louis,St. Louis Blues,44,32,Blues
Tampa Bay Area,Tampa Bay Lightning,54,23,Lightning
Toronto,Toronto Maple Leafs,49,26,Leafs
Vancouver,Vancouver Canucks,31,40,Canucks
"Washington, D.C.",Washington Capitals,49,26,Capitals
Winnipeg,Winnipeg Jets,52,20,Jets

The above code is used to merge the dummy metropolitan area column ('Metro Area').

Since there are duplicates, the `sum` concatenantes strings, and `adds` the values that was why I converted only the `W,L column` into int vals

Just call the nhl_df before and aafter this was applied to see the results

In [7]:

merged_df = pd.merge(cities, nhl_df, left_on='Metropolitan area', right_on='Metro Area')
merged_df = merged_df.iloc[:,[0,1,5,6,7,8]]# worked
merged_df

# since both df have linked cols in the metropolitan area, we will merge on the various column names containing the Metropolitan areas

,Metropolitan area,Population,team,W,L,NHL_short
0,New York City,20153634,New Jersey DevilsNew York IslandersNew York Ra...,113,105,DevilsIslandersRangers
1,Los Angeles,13310447,Anaheim DucksLos Angeles Kings,89,54,DucksKings
2,San Francisco Bay Area,6657982,San Jose Sharks,45,27,Sharks
3,Chicago,9512999,Chicago Blackhawks,33,39,Blackhawks
4,Dallas–Fort Worth,7233323,Dallas Stars,42,32,Stars
5,"Washington, D.C.",6131977,Washington Capitals,49,26,Capitals
6,Philadelphia,6070500,Philadelphia Flyers,42,26,Flyers
7,Boston,4794447,Boston Bruins,50,20,Bruins
8,Minneapolis–Saint Paul,3551036,Minnesota Wild,45,26,Wild
9,Denver,2853077,Colorado Avalanche,43,30,Avalanche
10,Miami–Fort Lauderdale,6066387,Florida Panthers,44,30,Panthers
11,Phoenix,4661537,Arizona Coyotes,29,41,Coyotes
12,Detroit,4297617,Detroit Red Wings,30,39,Wings
13,Toronto,5928040,Toronto Maple Leafs,49,26,Leafs
14,Tampa Bay Area,3032171,Tampa Bay Lightning,54,23,Lightning
15,Pittsburgh,2342299,Pittsburgh Penguins,47,29,Penguins
16,St. Louis,2807002,St. Louis Blues,44,32,Blues
17,Nashville,1865298,Nashville Predators,53,18,Predators
18,Buffalo,1132804,Buffalo Sabres,25,45,Sabres
19,Montreal,4098927,Montreal Canadiens,29,40,Canadiens
20,Vancouver,2463431,Vancouver Canucks,31,40,Canucks
21,Columbus,2041520,Columbus Blue Jackets,45,30,Jackets
22,Calgary,1392609,Calgary Flames,37,35,Flames
23,Ottawa,1323783,Ottawa Senators,28,43,Senators
24,Edmonton,1321426,Edmonton Oilers,36,40,Oilers
25,Winnipeg,778489,Winnipeg Jets,52,20,Jets
26,Las Vegas,2155664,Vegas Golden Knights,51,24,Knights
27,Raleigh,1302946,Carolina Hurricanes,36,35,Hurricanes

Igrouped the nhl_df by area so that I can get rid of the duplicate values in 'Metro Area'

after grouping by metro area, we will be left with the uniques indices, which is also similar in shape to the `cities['Metropolitan area']` hence, it becomes easier to merge the 2 df

In [8]:
# ============== Selected the important data we need ==========
merged_df = merged_df[['Metropolitan area', 'Population','W','L']]
merged_df

merged_df[['Population', 'W', 'L']] = merged_df[['Population', 'W', 'L']].astype(int)

# from the dataframe, we see that there are duplicates, hence we'll group  by the metropolitan area
# New York City and Los Angeles are duplicated with different pop sizes



# ========== summed the duplicates and aggregate it to the MA group (another way) ================
# merged_df = merged_df.groupby('Metropolitan area').agg(np.sum)  # only if we didnt use the groupby on the nhl_df bfore the merged
# merged_df
# 
# this also summed the new your pops and LA pops. 
# We can also choose to divide the New yourk & new jersey with their duplicates
# ==================================================================================

merged_df

C:\Users\Victor Darkwah-Owusu\AppData\Local\Temp\ipykernel_13008\2595706062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[['Population', 'W', 'L']] = merged_df[['Population', 'W', 'L']].astype(int)

         Metropolitan area  Population    W    L
0            New York City    20153634  113  105
1              Los Angeles    13310447   89   54
2   San Francisco Bay Area     6657982   45   27
3                  Chicago     9512999   33   39
4        Dallas–Fort Worth     7233323   42   32
5         Washington, D.C.     6131977   49   26
6             Philadelphia     6070500   42   26
7                   Boston     4794447   50   20
8   Minneapolis–Saint Paul     3551036   45   26
9                   Denver     2853077   43   30
10   Miami–Fort Lauderdale     6066387   44   30
11                 Phoenix     4661537   29   41
12                 Detroit     4297617   30   39
13                 Toronto     5928040   49   26
14          Tampa Bay Area     3032171   54   23
15              Pittsburgh     2342299   47   29
16               St. Louis     2807002   44   32
17               Nashville     1865298   53   18
18                 Buffalo     1132804   25   45
19                Montreal     4098927   29   40
20               Vancouver     2463431   31   40
21                Columbus     2041520   45   30
22                 Calgary     1392609   37   35
23                  Ottawa     1323783   28   43
24                Edmonton     1321426   36   40
25                Winnipeg      778489   52   20
26               Las Vegas     2155664   51   24
27                 Raleigh     1302946   36   35

In [9]:
# merged_df.reset_index(inplace=True)

In [10]:
#  merged_df['W']/(merged_df['W']+merged_df['L'])

# ====== A new column for storing the W/L ratio values ==========
merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df

C:\Users\Victor Darkwah-Owusu\AppData\Local\Temp\ipykernel_13008\992962743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])

         Metropolitan area  Population    W    L     Ratio
0            New York City    20153634  113  105  0.518349
1              Los Angeles    13310447   89   54  0.622378
2   San Francisco Bay Area     6657982   45   27  0.625000
3                  Chicago     9512999   33   39  0.458333
4        Dallas–Fort Worth     7233323   42   32  0.567568
5         Washington, D.C.     6131977   49   26  0.653333
6             Philadelphia     6070500   42   26  0.617647
7                   Boston     4794447   50   20  0.714286
8   Minneapolis–Saint Paul     3551036   45   26  0.633803
9                   Denver     2853077   43   30  0.589041
10   Miami–Fort Lauderdale     6066387   44   30  0.594595
11                 Phoenix     4661537   29   41  0.414286
12                 Detroit     4297617   30   39  0.434783
13                 Toronto     5928040   49   26  0.653333
14          Tampa Bay Area     3032171   54   23  0.701299
15              Pittsburgh     2342299   47   29  0.618421
16               St. Louis     2807002   44   32  0.578947
17               Nashville     1865298   53   18  0.746479
18                 Buffalo     1132804   25   45  0.357143
19                Montreal     4098927   29   40  0.420290
20               Vancouver     2463431   31   40  0.436620
21                Columbus     2041520   45   30  0.600000
22                 Calgary     1392609   37   35  0.513889
23                  Ottawa     1323783   28   43  0.394366
24                Edmonton     1321426   36   40  0.473684
25                Winnipeg      778489   52   20  0.722222
26               Las Vegas     2155664   51   24  0.680000
27                 Raleigh     1302946   36   35  0.507042

In [11]:
# finding the W/L ratio
# merged_df
# population_by_region = merged_df['Metropolitan area']
# win_loss = merged_df['Ratio']
# stats.pearsonr(population_by_region,win_loss) # Gives error

# ========= Convert the 'Metropolitan area' column to numeric
merged_df['Population'] = pd.to_numeric(merged_df['Population'])
population_by_region = merged_df['Population']
win_loss = merged_df['Ratio']

stats.pearsonr(population_by_region,win_loss)
# len(merged_df), len(merged_df['Population'])
# # merged_df['Ratio']

# population_by_region

C:\Users\Victor Darkwah-Owusu\AppData\Local\Temp\ipykernel_13008\847953953.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Population'] = pd.to_numeric(merged_df['Population'])

PearsonRResult(statistic=0.012308996455744278, pvalue=0.9504308637909508)

Taking a critical look at the cities and the nhl_df, we can see that, the last name of most teams are common among the df

In [12]:
mlb_df=pd.read_csv("assets/mlb.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")

nhl_df

,team,W,L,NHL_short
Metro Area,,,,
Boston,Boston Bruins,50,20,Bruins
Buffalo,Buffalo Sabres,25,45,Sabres
Calgary,Calgary Flames,37,35,Flames
Chicago,Chicago Blackhawks,33,39,Blackhawks
Columbus,Columbus Blue Jackets,45,30,Jackets
Dallas–Fort Worth,Dallas Stars,42,32,Stars
Denver,Colorado Avalanche,43,30,Avalanche
Detroit,Detroit Red Wings,30,39,Wings
Edmonton,Edmonton Oilers,36,40,Oilers
Las Vegas,Vegas Golden Knights,51,24,Knights
Los Angeles,Anaheim DucksLos Angeles Kings,89,54,DucksKings
Miami–Fort Lauderdale,Florida Panthers,44,30,Panthers
Minneapolis–Saint Paul,Minnesota Wild,45,26,Wild
Montreal,Montreal Canadiens,29,40,Canadiens
Nashville,Nashville Predators,53,18,Predators
New York City,New Jersey DevilsNew York IslandersNew York Ra...,113,105,DevilsIslandersRangers
Ottawa,Ottawa Senators,28,43,Senators
Philadelphia,Philadelphia Flyers,42,26,Flyers
Phoenix,Arizona Coyotes,29,41,Coyotes
Pittsburgh,Pittsburgh Penguins,47,29,Penguins
Raleigh,Carolina Hurricanes,36,35,Hurricanes
San Francisco Bay Area,San Jose Sharks,45,27,Sharks
St. Louis,St. Louis Blues,44,32,Blues
Tampa Bay Area,Tampa Bay Lightning,54,23,Lightning
Toronto,Toronto Maple Leafs,49,26,Leafs
Vancouver,Vancouver Canucks,31,40,Canucks
"Washington, D.C.",Washington Capitals,49,26,Capitals
Winnipeg,Winnipeg Jets,52,20,Jets

In [13]:
# removing *
nba_df['team'].replace(to_replace='[\*]', value = '', regex = True, inplace=True)
nba_df

# removing nos
nba_df['team'].replace(to_replace='\s\(.*\)', value = '', regex = True, inplace = True)
nba_df

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League
0,Toronto Raptors,59,23,0.72,—,111.7,103.9,7.29,2018,NBA
1,Boston Celtics,55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA
2,Philadelphia 76ers,52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA
3,Cleveland Cavaliers,50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA
4,Indiana Pacers,48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA
...,...,...,...,...,...,...,...,...,...,...
157,San Antonio Spurs,62,20,.756,—,105.4,97.6,8.00,2014,NBA
158,Houston Rockets,54,28,.659,8.0,107.7,103.1,5.06,2014,NBA
159,Memphis Grizzlies,50,32,.610,12.0,96.1,94.6,2.18,2014,NBA
160,Dallas Mavericks,49,33,.598,13.0,104.8,102.4,2.91,2014,NBA
161,New Orleans Pelicans,34,48,.415,28.0,99.7,102.4,-1.98,2014,NBA

## QUESTION 1  ------ solution

In [55]:
def nhl_correlation(): 
    # YOUR CODE HERE
    
    import pandas as pd
    import numpy as np
    import scipy.stats as stats
    import re
    
    # ======== Reading files ===============
    nhl_df=pd.read_csv("assets/nhl.csv")
    cities=pd.read_html("assets/wikipedia_data.html")[1] # extracting the 2nd table from the webpage since it is a df
    cities=cities.iloc[:-1,[0,3,5,6,7,8]] # Selecting appropriate cols from df
    
    #========================= CLEANING DATA =====================
    # removing all '[notes]' and '---' from the df
    cities.replace('\[.*\]','', regex =True, inplace = True)

    # removing all '*' from nhl_df
    nhl_df.replace(to_replace='[*]', value = '', regex = True, inplace=True)

    # Renaming population cols in the cities df
    cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    
    # ========== Getting the nhl teams from cities. We're ignoring --- and empty cells
    cities['NHL'] = cities['NHL'].replace('', np.nan).replace('—', np.nan)
    cities.dropna(inplace=True)
    
    #  extracting 2018 data from the nhl
    nhl_df = nhl_df[nhl_df['year'] == 2018]
    nhl_df.drop(index = [0,9,18,26], inplace=True) # removed the texts from the team(i.e the divisiions)
    
    
    # ================ extracting the most important cols from the nhl_df ============
    nhl_df = nhl_df.loc[:, ['team', 'W', 'L']]

    # extracting the last name since it is common among the cities and nhl_df
    nhl_df['NHL_short'] = nhl_df['team'].str.split(' ').str[-1] # you can write a lambda expr as an alternative
    # nhl_df['NHL_short'] = nhl_df['team'].apply(lambda last: last.split(' ')[-1]) # same like above 
    
    
    cities = cities.set_index('NHL') #makes data maniplation easier
    
    
    
    # ================= Function to get the corresponding Metro region to the cities in the nhl_df ==============
    def find_metro(team):
        for item in cities.index: 
            if team in item:
                return cities.at[item, 'Metropolitan area'] # alternatively we can use the loc
            
    nhl_df["Metro Area"] = nhl_df['NHL_short'].apply(find_metro)
    
    #  ============ Converting the W, L columns to values since they are strings =======
    nhl_df[['W', 'L']] = nhl_df[['W', 'L']].astype(int)
    nhl_df = nhl_df.groupby('Metro Area').agg(np.sum)  
   
    # ============ MERGING THE DF ===============
    merged_df = pd.merge(cities, nhl_df, left_on='Metropolitan area', right_on='Metro Area')
    merged_df = merged_df.iloc[:,[0,1,5,6,7,8]]# worked
    
    # ======== Selected the important data we need ==========
    merged_df = merged_df[['Metropolitan area', 'Population','W','L']]
    # merged_df
    merged_df[['Population']] = merged_df[['Population']].astype(int)

    
    # ====== A new column for storing the W/L ratio values ==========
    merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
    # merged_df
    
    
    population_by_region = merged_df['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
#     raise NotImplementedError()
    
    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)
    
    
   

nhl_correlation()

PearsonRResult(statistic=0.012308996455744278, pvalue=0.9504308637909508)

In [61]:
# ================== Still Ques 1 Soln, but we are calling a func which contains the merged df ===========
import pandas as pd
import numpy as np
import scipy.stats as stats
import re


def Merge_df():
    # ======== Reading files ===============
    nhl_df=pd.read_csv("assets/nhl.csv")
    cities=pd.read_html("assets/wikipedia_data.html")[1] # extracting the 2nd table from the webpage since it is a df
    cities=cities.iloc[:-1,[0,3,5,6,7,8]] # Selecting appropriate cols from df
    
    #========================= CLEANING DATA =====================
    # removing all '[notes]' and '---' from the df
    cities.replace('\[.*\]','', regex =True, inplace = True)

    # removing all '*' from nhl_df
    nhl_df.replace(to_replace='[*]', value = '', regex = True, inplace=True)

    # Renaming population cols in the cities df
    cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
    
    # ========== Getting the nhl teams from cities. We're ignoring --- and empty cells
    cities['NHL'] = cities['NHL'].replace('', np.nan).replace('—', np.nan)
    cities.dropna(inplace=True)
    
    #  extracting 2018 data from the nhl
    nhl_df = nhl_df[nhl_df['year'] == 2018]
    nhl_df.drop(index = [0,9,18,26], inplace=True) # removed the texts from the team(i.e the divisiions)
    
    
    # ================ extracting the most important cols from the nhl_df ============
    nhl_df = nhl_df.loc[:, ['team', 'W', 'L']]

    # extracting the last name since it is common among the cities and nhl_df
    nhl_df['NHL_short'] = nhl_df['team'].str.split(' ').str[-1] # you can write a lambda expr as an alternative
    # nhl_df['NHL_short'] = nhl_df['team'].apply(lambda last: last.split(' ')[-1]) # same like above 
    
    
    cities = cities.set_index('NHL') #makes data maniplation easier
    
    
    
    # ================= Function to get the corresponding Metro region to the cities in the nhl_df ==============
    def find_metro(team):
        for item in cities.index: 
            if team in item:
                return cities.at[item, 'Metropolitan area'] # alternatively we can use the loc
            
    nhl_df["Metro Area"] = nhl_df['NHL_short'].apply(find_metro)
    
    #  ============ Converting the W, L columns to values since they are strings =======
    nhl_df[['W', 'L']] = nhl_df[['W', 'L']].astype(int)
    nhl_df = nhl_df.groupby('Metro Area').agg(np.sum)  
   
    # ============ MERGING THE DF ===============
    merged_df = pd.merge(cities, nhl_df, left_on='Metropolitan area', right_on='Metro Area')
    merged_df = merged_df.iloc[:,[0,1,5,6,7,8]]# worked
    
    # ======== Selected the important data we need ==========
    merged_df = merged_df[['Metropolitan area', 'Population','W','L']]
    # merged_df
    merged_df[['Population']] = merged_df[['Population']].astype(int)

    
    # ====== A new column for storing the W/L ratio values ==========
    merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
    # merged_df
    
    return merged_df
# Merge_df()


def nhl_correlation():
    df = Merge_df()
   
    population_by_region = df['Population'] # pass in metropolitan area population from cities
    win_loss_by_region = df['Ratio'] # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
#     raise NotImplementedError()
    
    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)

nhl_correlation()

PearsonRResult(statistic=0.012308996455744278, pvalue=0.9504308637909508)

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [90]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df=pd.read_csv("assets/nba.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

cities=pd.read_html("assets/wikipedia_data.html")[1] # extracting the 2nd table from the webpage since it is a df
cities=cities.iloc[:-1,[0,3,5,6,7,8]] # Selecting appropriate cols from df

#========================= CLEANING DATA =====================
# removing all '[notes]' and '---' from the df
cities.replace('\[.*\]','', regex =True, inplace = True)


# Renaming population cols in the cities df
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)

 # ========== Getting the NBA teams from cities. We're ignoring --- and empty cells 
cities['NBA'] = cities['NBA'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)

cities = cities[['Metropolitan area', 'Population', 'NBA']]
cities = cities.set_index('NBA')  # to make manipulation easy

In [91]:
nba_df = nba_df[nba_df['year']==2018]
nba_df = nba_df[['team', 'W', 'L', 'W/L%']]
# nba_df

In [92]:
# ======= Cleaning nba_df ===========
nba_df.replace(to_replace='\(.*\)', value = '', regex=True, inplace=True)
nba_df.replace(to_replace='[*]', value='', regex=True, inplace=True)
# nba_df


# Basically going to use the same ideology as used in the nhl df.

In [93]:
# cities
# ========== getting the last names of the nba teams in nba_df =======
nba_df['NBA_short'] = nba_df['team'].str.split().str[-1]
# nba_df['NBA_short'] = nba_df['team'].apply(lambda x: x.split('')[-1])

# nba_df= nba_df.set_index('NBA_short')
# nba_df['NBA_short'].values

In [94]:


def get_area(team):
    for item in cities.index.values:
#         print(item)
#         print(team)
        if team in item:
#             print(team)
            return cities.at[item, 'Metropolitan area']

        
# get_area(nba_df['NBA_short'])

nba_df['Metro'] = nba_df['NBA_short'].apply(get_area)
# cities.index, nba_df.index
nba_df

,team,W,L,W/L%,NBA_short,Metro
0,Toronto Raptors,59,23,0.72,Raptors,Toronto
1,Boston Celtics,55,27,0.6709999999999999,Celtics,Boston
2,Philadelphia 76ers,52,30,0.634,76ers,Philadelphia
3,Cleveland Cavaliers,50,32,0.61,Cavaliers,Cleveland
4,Indiana Pacers,48,34,0.585,Pacers,Indianapolis
5,Miami Heat,44,38,0.537,Heat,Miami–Fort Lauderdale
6,Milwaukee Bucks,44,38,0.537,Bucks,Milwaukee
7,Washington Wizards,43,39,0.524,Wizards,"Washington, D.C."
8,Detroit Pistons,39,43,0.47600000000000003,Pistons,Detroit
9,Charlotte Hornets,36,46,0.439,Hornets,Charlotte
10,New York Knicks,29,53,0.354,Knicks,New York City
11,Brooklyn Nets,28,54,0.341,Nets,New York City
12,Chicago Bulls,27,55,0.32899999999999996,Bulls,Chicago
13,Orlando Magic,25,57,0.305,Magic,Orlando
14,Atlanta Hawks,24,58,0.293,Hawks,Atlanta
15,Houston Rockets,65,17,0.7929999999999999,Rockets,Houston
16,Golden State Warriors,58,24,0.7070000000000001,Warriors,San Francisco Bay Area
17,Portland Trail Blazers,49,33,0.598,Blazers,Portland
18,Oklahoma City Thunder,48,34,0.585,Thunder,Oklahoma City
19,Utah Jazz,48,34,0.585,Jazz,Salt Lake City
20,New Orleans Pelicans,48,34,0.585,Pelicans,New Orleans
21,San Antonio Spurs,47,35,0.573,Spurs,San Antonio
22,Minnesota Timberwolves,47,35,0.573,Timberwolves,Minneapolis–Saint Paul
23,Denver Nuggets,46,36,0.561,Nuggets,Denver
24,Los Angeles Clippers,42,40,0.512,Clippers,Los Angeles
25,Los Angeles Lakers,35,47,0.42700000000000005,Lakers,Los Angeles
26,Sacramento Kings,27,55,0.32899999999999996,Kings,Sacramento
27,Dallas Mavericks,24,58,0.293,Mavericks,Dallas–Fort Worth
28,Memphis Grizzlies,22,60,0.268,Grizzlies,Memphis
29,Phoenix Suns,21,61,0.256,Suns,Phoenix

In [95]:
# nba_df.groupby('Metro').agg(np.sum) need to convert the str to val
nba_df[['W','L', 'W/L%']] = nba_df[['W','L', 'W/L%']].astype(float)
nba_df

nba_df = nba_df.groupby('Metro').agg(np.sum)

In [96]:
merged_df = pd.merge(cities, nba_df, left_on='Metropolitan area', right_on='Metro')
merged_df

,Metropolitan area,Population,team,W,L,W/L%,NBA_short
0,New York City,20153634,New York Knicks Brooklyn Nets,57.0,107.0,0.695,KnicksNets
1,Los Angeles,13310447,Los Angeles Clippers Los Angeles Lakers,77.0,87.0,0.939,ClippersLakers
2,San Francisco Bay Area,6657982,Golden State Warriors,58.0,24.0,0.707,Warriors
3,Chicago,9512999,Chicago Bulls,27.0,55.0,0.329,Bulls
4,Dallas–Fort Worth,7233323,Dallas Mavericks,24.0,58.0,0.293,Mavericks
5,"Washington, D.C.",6131977,Washington Wizards,43.0,39.0,0.524,Wizards
6,Philadelphia,6070500,Philadelphia 76ers,52.0,30.0,0.634,76ers
7,Boston,4794447,Boston Celtics,55.0,27.0,0.671,Celtics
8,Minneapolis–Saint Paul,3551036,Minnesota Timberwolves,47.0,35.0,0.573,Timberwolves
9,Denver,2853077,Denver Nuggets,46.0,36.0,0.561,Nuggets
10,Miami–Fort Lauderdale,6066387,Miami Heat,44.0,38.0,0.537,Heat
11,Phoenix,4661537,Phoenix Suns,21.0,61.0,0.256,Suns
12,Detroit,4297617,Detroit Pistons,39.0,43.0,0.476,Pistons
13,Toronto,5928040,Toronto Raptors,59.0,23.0,0.720,Raptors
14,Houston,6772470,Houston Rockets,65.0,17.0,0.793,Rockets
15,Atlanta,5789700,Atlanta Hawks,24.0,58.0,0.293,Hawks
16,Cleveland,2055612,Cleveland Cavaliers,50.0,32.0,0.610,Cavaliers
17,Charlotte,2474314,Charlotte Hornets,36.0,46.0,0.439,Hornets
18,Indianapolis,2004230,Indiana Pacers,48.0,34.0,0.585,Pacers
19,Milwaukee,1572482,Milwaukee Bucks,44.0,38.0,0.537,Bucks
20,New Orleans,1268883,New Orleans Pelicans,48.0,34.0,0.585,Pelicans
21,Orlando,2441257,Orlando Magic,25.0,57.0,0.305,Magic
22,Portland,2424955,Portland Trail Blazers,49.0,33.0,0.598,Blazers
23,Salt Lake City,1186187,Utah Jazz,48.0,34.0,0.585,Jazz
24,San Antonio,2429609,San Antonio Spurs,47.0,35.0,0.573,Spurs
25,Sacramento,2296418,Sacramento Kings,27.0,55.0,0.329,Kings
26,Oklahoma City,1373211,Oklahoma City Thunder,48.0,34.0,0.585,Thunder
27,Memphis,1342842,Memphis Grizzlies,22.0,60.0,0.268,Grizzlies

In [98]:
merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L', 'W/L%']]
merged_df


merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df


# as we can see, using the 'W-L%' directly gives error since the duplicate W/L% was also added. We chan chode to divide
#  by the number of duplicates. But I think solving for the W/L ratio again is better

         Metropolitan area Population     W      L   W/L%     Ratio
0            New York City   20153634  57.0  107.0  0.695  0.347561
1              Los Angeles   13310447  77.0   87.0  0.939  0.469512
2   San Francisco Bay Area    6657982  58.0   24.0  0.707  0.707317
3                  Chicago    9512999  27.0   55.0  0.329  0.329268
4        Dallas–Fort Worth    7233323  24.0   58.0  0.293  0.292683
5         Washington, D.C.    6131977  43.0   39.0  0.524  0.524390
6             Philadelphia    6070500  52.0   30.0  0.634  0.634146
7                   Boston    4794447  55.0   27.0  0.671  0.670732
8   Minneapolis–Saint Paul    3551036  47.0   35.0  0.573  0.573171
9                   Denver    2853077  46.0   36.0  0.561  0.560976
10   Miami–Fort Lauderdale    6066387  44.0   38.0  0.537  0.536585
11                 Phoenix    4661537  21.0   61.0  0.256  0.256098
12                 Detroit    4297617  39.0   43.0  0.476  0.475610
13                 Toronto    5928040  59.0   23.0  0.720  0.719512
14                 Houston    6772470  65.0   17.0  0.793  0.792683
15                 Atlanta    5789700  24.0   58.0  0.293  0.292683
16               Cleveland    2055612  50.0   32.0  0.610  0.609756
17               Charlotte    2474314  36.0   46.0  0.439  0.439024
18            Indianapolis    2004230  48.0   34.0  0.585  0.585366
19               Milwaukee    1572482  44.0   38.0  0.537  0.536585
20             New Orleans    1268883  48.0   34.0  0.585  0.585366
21                 Orlando    2441257  25.0   57.0  0.305  0.304878
22                Portland    2424955  49.0   33.0  0.598  0.597561
23          Salt Lake City    1186187  48.0   34.0  0.585  0.585366
24             San Antonio    2429609  47.0   35.0  0.573  0.573171
25              Sacramento    2296418  27.0   55.0  0.329  0.329268
26           Oklahoma City    1373211  48.0   34.0  0.585  0.585366
27                 Memphis    1342842  22.0   60.0  0.268  0.268293

In [99]:

def nba_correlation():
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    population_by_region = merged_df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)
nba_correlation()

PearsonRResult(statistic=-0.17657160252844614, pvalue=0.36874741604462974)

### QUESTION 2 ---- Solution

In [100]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

def Merged_nba():
    nba_df=pd.read_csv("assets/nba.csv")
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]

    cities=pd.read_html("assets/wikipedia_data.html")[1] # extracting the 2nd table from the webpage since it is a df
    cities=cities.iloc[:-1,[0,3,5,6,7,8]] # Selecting appropriate cols from df

    #========================= CLEANING DATA =====================
    # removing all '[notes]' and '---' from the df
    cities.replace('\[.*\]','', regex =True, inplace = True)


    # Renaming population cols in the cities df
    cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)

     # ========== Getting the NBA teams from cities. We're ignoring --- and empty cells 
    cities['NBA'] = cities['NBA'].replace('', np.nan).replace('—', np.nan)
    cities.dropna(inplace=True)

    cities = cities[['Metropolitan area', 'Population', 'NBA']]
    cities = cities.set_index('NBA')  # to make manipulation easy

    nba_df = nba_df[nba_df['year']==2018]
    nba_df = nba_df[['team', 'W', 'L']]

    # ======= Cleaning nba_df ===========
    nba_df.replace(to_replace='\(.*\)', value = '', regex=True, inplace=True)
    nba_df.replace(to_replace='[*]', value='', regex=True, inplace=True)
    # nba_df

    # ========== getting the last names of the nba teams in nba_df =======
    nba_df['NBA_short'] = nba_df['team'].str.split().str[-1]
    

    def get_area(team):
        for item in cities.index.values:
            if team in item:
                return cities.at[item, 'Metropolitan area']

    nba_df['Metro'] = nba_df['NBA_short'].apply(get_area)
    
    # nba_df.groupby('Metro').agg(np.sum) need to convert the str to val
    nba_df[['W','L']] = nba_df[['W','L']].astype(int)
    nba_df
    nba_df = nba_df.groupby('Metro').agg(np.sum)
    
    merged_df = pd.merge(cities, nba_df, left_on='Metropolitan area', right_on='Metro')
    
    merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L']]
    merged_df


    merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
    merged_df
    
    return merged_df




def nba_correlation():
    df = Merged_nba()
    
    population_by_region = df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = df['Ratio'] # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)

nba_correlation()

PearsonRResult(statistic=-0.17657160252844614, pvalue=0.36874741604462974)

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [192]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
# mlb_df
mlb_df = mlb_df[mlb_df['year']==2018][['team', 'W', 'L']]


cities.replace('\[.*\]','', regex =True, inplace = True)
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)

In [193]:
# ============ Selecting relevant cities col =============
cities = cities[['Metropolitan area', 'Population', 'MLB']]

# ========== Getting the MLB teams from cities. We're ignoring --- and empty cells 
cities['MLB'] = cities['MLB'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)

In [194]:
cities = cities.set_index('MLB')
cities

                       Metropolitan area Population
MLB
Yankees Mets               New York City   20153634
Dodgers Angels               Los Angeles   13310447
Giants Athletics  San Francisco Bay Area    6657982
Cubs White Sox                   Chicago    9512999
Rangers                Dallas–Fort Worth    7233323
Nationals               Washington, D.C.    6131977
Phillies                    Philadelphia    6070500
Red Sox                           Boston    4794447
Twins             Minneapolis–Saint Paul    3551036
Rockies                           Denver    2853077
Marlins            Miami–Fort Lauderdale    6066387
Diamondbacks                     Phoenix    4661537
Tigers                           Detroit    4297617
Blue Jays                        Toronto    5928040
Astros                           Houston    6772470
Braves                           Atlanta    5789700
Rays                      Tampa Bay Area    3032171
Pirates                       Pittsburgh    2342299
Indians                        Cleveland    2055612
Mariners                         Seattle    3798902
Reds                          Cincinnati    2165139
Royals                       Kansas City    2104509
Cardinals                      St. Louis    2807002
Orioles                        Baltimore    2798886
Brewers                        Milwaukee    1572482
Padres                         San Diego    3317749

In [195]:
mlb_df['MLB_short'] = mlb_df['team'].str.split().str[-1]
mlb_df

                     team    W    L     MLB_short
0          Boston Red Sox  108   54           Sox
1        New York Yankees  100   62       Yankees
2          Tampa Bay Rays   90   72          Rays
3       Toronto Blue Jays   73   89          Jays
4       Baltimore Orioles   47  115       Orioles
5       Cleveland Indians   91   71       Indians
6         Minnesota Twins   78   84         Twins
7          Detroit Tigers   64   98        Tigers
8       Chicago White Sox   62  100           Sox
9      Kansas City Royals   58  104        Royals
10         Houston Astros  103   59        Astros
11      Oakland Athletics   97   65     Athletics
12       Seattle Mariners   89   73      Mariners
13     Los Angeles Angels   80   82        Angels
14          Texas Rangers   67   95       Rangers
15         Atlanta Braves   90   72        Braves
16   Washington Nationals   82   80     Nationals
17  Philadelphia Phillies   80   82      Phillies
18          New York Mets   77   85          Mets
19          Miami Marlins   63   98       Marlins
20      Milwaukee Brewers   96   67       Brewers
21           Chicago Cubs   95   68          Cubs
22    St. Louis Cardinals   88   74     Cardinals
23     Pittsburgh Pirates   82   79       Pirates
24        Cincinnati Reds   67   95          Reds
25    Los Angeles Dodgers   92   71       Dodgers
26       Colorado Rockies   91   72       Rockies
27   Arizona Diamondbacks   82   80  Diamondbacks
28   San Francisco Giants   73   89        Giants
29       San Diego Padres   66   96        Padres

In [196]:
def get_Metro(team):
    for item in cities.index:
        if team in item:
            return cities.at[item, 'Metropolitan area']

mlb_df['Metro'] = mlb_df['MLB_short'].apply(get_Metro)
mlb_df[['W','L']] = mlb_df[['W','L']].astype(int)
mlb_df
mlb_df.iloc[0,4] = 'Boston'  # Renamed because df records this as 'Chicago'
mlb_df

# =========== merging df ==============
mlb_df = mlb_df.groupby('Metro').agg(np.sum)
mlb_df

,team,W,L,MLB_short
Metro,,,,
Atlanta,Atlanta Braves,90,72,Braves
Baltimore,Baltimore Orioles,47,115,Orioles
Boston,Boston Red Sox,108,54,Sox
Chicago,Chicago White SoxChicago Cubs,157,168,SoxCubs
Cincinnati,Cincinnati Reds,67,95,Reds
Cleveland,Cleveland Indians,91,71,Indians
Dallas–Fort Worth,Texas Rangers,67,95,Rangers
Denver,Colorado Rockies,91,72,Rockies
Detroit,Detroit Tigers,64,98,Tigers
Houston,Houston Astros,103,59,Astros
Kansas City,Kansas City Royals,58,104,Royals
Los Angeles,Los Angeles AngelsLos Angeles Dodgers,172,153,AngelsDodgers
Miami–Fort Lauderdale,Miami Marlins,63,98,Marlins
Milwaukee,Milwaukee Brewers,96,67,Brewers
Minneapolis–Saint Paul,Minnesota Twins,78,84,Twins
New York City,New York YankeesNew York Mets,177,147,YankeesMets
Philadelphia,Philadelphia Phillies,80,82,Phillies
Phoenix,Arizona Diamondbacks,82,80,Diamondbacks
Pittsburgh,Pittsburgh Pirates,82,79,Pirates
San Diego,San Diego Padres,66,96,Padres
San Francisco Bay Area,Oakland AthleticsSan Francisco Giants,170,154,AthleticsGiants
Seattle,Seattle Mariners,89,73,Mariners
St. Louis,St. Louis Cardinals,88,74,Cardinals
Tampa Bay Area,Tampa Bay Rays,90,72,Rays
Toronto,Toronto Blue Jays,73,89,Jays
"Washington, D.C.",Washington Nationals,82,80,Nationals

In [197]:
merged_df = pd.merge(cities, mlb_df, how= 'inner',left_on='Metropolitan area', right_on='Metro')
merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L']]


merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df

         Metropolitan area Population    W    L     Ratio
0            New York City   20153634  177  147  0.546296
1              Los Angeles   13310447  172  153  0.529231
2   San Francisco Bay Area    6657982  170  154  0.524691
3                  Chicago    9512999  157  168  0.483077
4        Dallas–Fort Worth    7233323   67   95  0.413580
5         Washington, D.C.    6131977   82   80  0.506173
6             Philadelphia    6070500   80   82  0.493827
7                   Boston    4794447  108   54  0.666667
8   Minneapolis–Saint Paul    3551036   78   84  0.481481
9                   Denver    2853077   91   72  0.558282
10   Miami–Fort Lauderdale    6066387   63   98  0.391304
11                 Phoenix    4661537   82   80  0.506173
12                 Detroit    4297617   64   98  0.395062
13                 Toronto    5928040   73   89  0.450617
14                 Houston    6772470  103   59  0.635802
15                 Atlanta    5789700   90   72  0.555556
16          Tampa Bay Area    3032171   90   72  0.555556
17              Pittsburgh    2342299   82   79  0.509317
18               Cleveland    2055612   91   71  0.561728
19                 Seattle    3798902   89   73  0.549383
20              Cincinnati    2165139   67   95  0.413580
21             Kansas City    2104509   58  104  0.358025
22               St. Louis    2807002   88   74  0.543210
23               Baltimore    2798886   47  115  0.290123
24               Milwaukee    1572482   96   67  0.588957
25               San Diego    3317749   66   96  0.407407

In [199]:
def mlb_correlation(): 
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    population_by_region = merged_df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)
mlb_correlation()

PearsonRResult(statistic=0.15052304487104848, pvalue=0.4629669779770919)

### Question 3 --------- Solution

In [201]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

mlb_df = mlb_df[mlb_df['year']==2018][['team', 'W', 'L']]


cities.replace('\[.*\]','', regex =True, inplace = True)
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)

# ============ Selecting relevant cities col =============
cities = cities[['Metropolitan area', 'Population', 'MLB']]

# ========== Getting the MLB teams from cities. We're ignoring --- and empty cells 
cities['MLB'] = cities['MLB'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)

cities = cities.set_index('MLB')

mlb_df['MLB_short'] = mlb_df['team'].str.split().str[-1]

def get_Metro(team):
    for item in cities.index:
        if team in item:
            return cities.at[item, 'Metropolitan area']

mlb_df['Metro'] = mlb_df['MLB_short'].apply(get_Metro)
mlb_df[['W','L']] = mlb_df[['W','L']].astype(int)
mlb_df
mlb_df.iloc[0,4] = 'Boston'  # Renamed because df records this as 'Chicago'
mlb_df

# =========== merging df ==============
mlb_df = mlb_df.groupby('Metro').agg(np.sum)

merged_df = pd.merge(cities, mlb_df, how= 'inner',left_on='Metropolitan area', right_on='Metro')
merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L']]


merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df


def mlb_correlation(): 
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    population_by_region = merged_df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)

mlb_correlation()

PearsonRResult(statistic=0.15052304487104848, pvalue=0.4629669779770919)

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [242]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

# ========== cleaning the cities data ================
cities.replace('\[.*\]','', regex =True, inplace = True)
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
cities = cities[['Metropolitan area', 'Population', 'NFL']]

# ========== Getting the NFL teams from cities. We're ignoring --- and empty cells 
cities['NFL'] = cities['NFL'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)
cities.drop(index=13, inplace=True) #had a space so I manually dropped this
# cities.iloc[13,2]
cities

cities = cities.set_index('NFL')
cities

# ======== dealing with the nfl_df =================
nfl_df = nfl_df[nfl_df['year']==2018][['team', 'W', 'L']]
nfl_df.drop(index = [0,5,10,15,20,25,30,35], inplace=True)

nfl_df.replace(to_replace='[+*]', value='', regex=True, inplace=True)
nfl_df['NFL_short'] = nfl_df['team'].str.split().str[-1]
# nfl_df

In [243]:
cities

                    Metropolitan area Population
NFL
Giants Jets             New York City   20153634
Rams Chargers             Los Angeles   13310447
49ers Raiders  San Francisco Bay Area    6657982
Bears                         Chicago    9512999
Cowboys             Dallas–Fort Worth    7233323
Redskins             Washington, D.C.    6131977
Eagles                   Philadelphia    6070500
Patriots                       Boston    4794447
Vikings        Minneapolis–Saint Paul    3551036
Broncos                        Denver    2853077
Dolphins        Miami–Fort Lauderdale    6066387
Cardinals                     Phoenix    4661537
Lions                         Detroit    4297617
Texans                        Houston    6772470
Falcons                       Atlanta    5789700
Buccaneers             Tampa Bay Area    3032171
Steelers                   Pittsburgh    2342299
Browns                      Cleveland    2055612
Seahawks                      Seattle    3798902
Bengals                    Cincinnati    2165139
Chiefs                    Kansas City    2104509
Ravens                      Baltimore    2798886
Panthers                    Charlotte    2474314
Colts                    Indianapolis    2004230
Titans                      Nashville    1865298
Saints                    New Orleans    1268883
Bills                         Buffalo    1132804
Jaguars                  Jacksonville    1478212
Packers                     Green Bay     318236

In [244]:
def get_Metro(team):
    for item in cities.index:
        if team in item:
            return cities.at[item, 'Metropolitan area']

In [245]:
nfl_df['Metro'] = nfl_df['NFL_short'].apply(get_Metro)
nfl_df[['W','L']] = nfl_df[['W','L']].astype(int)
nfl_df

                    team   W   L   NFL_short                   Metro
1   New England Patriots  11   5    Patriots                  Boston
2         Miami Dolphins   7   9    Dolphins   Miami–Fort Lauderdale
3          Buffalo Bills   6  10       Bills                 Buffalo
4          New York Jets   4  12        Jets           New York City
6       Baltimore Ravens  10   6      Ravens               Baltimore
7    Pittsburgh Steelers   9   6    Steelers              Pittsburgh
8       Cleveland Browns   7   8      Browns               Cleveland
9     Cincinnati Bengals   6  10     Bengals              Cincinnati
11        Houston Texans  11   5      Texans                 Houston
12    Indianapolis Colts  10   6       Colts            Indianapolis
13      Tennessee Titans   9   7      Titans               Nashville
14  Jacksonville Jaguars   5  11     Jaguars            Jacksonville
16    Kansas City Chiefs  12   4      Chiefs             Kansas City
17  Los Angeles Chargers  12   4    Chargers             Los Angeles
18        Denver Broncos   6  10     Broncos                  Denver
19       Oakland Raiders   4  12     Raiders  San Francisco Bay Area
21        Dallas Cowboys  10   6     Cowboys       Dallas–Fort Worth
22   Philadelphia Eagles   9   7      Eagles            Philadelphia
23   Washington Redskins   7   9    Redskins        Washington, D.C.
24       New York Giants   5  11      Giants           New York City
26         Chicago Bears  12   4       Bears                 Chicago
27     Minnesota Vikings   8   7     Vikings  Minneapolis–Saint Paul
28     Green Bay Packers   6   9     Packers               Green Bay
29         Detroit Lions   6  10       Lions                 Detroit
31    New Orleans Saints  13   3      Saints             New Orleans
32     Carolina Panthers   7   9    Panthers               Charlotte
33       Atlanta Falcons   7   9     Falcons                 Atlanta
34  Tampa Bay Buccaneers   5  11  Buccaneers          Tampa Bay Area
36      Los Angeles Rams  13   3        Rams             Los Angeles
37      Seattle Seahawks  10   6    Seahawks                 Seattle
38   San Francisco 49ers   4  12       49ers  San Francisco Bay Area
39     Arizona Cardinals   3  13   Cardinals                 Phoenix

In [247]:
# =========== merging df ==============
nfl_df = nfl_df.groupby('Metro').agg(np.sum)

merged_df = pd.merge(cities, nfl_df, how= 'inner',left_on='Metropolitan area', right_on='Metro')
merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L']]


merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df

         Metropolitan area Population   W   L     Ratio
0            New York City   20153634   9  23  0.281250
1              Los Angeles   13310447  25   7  0.781250
2   San Francisco Bay Area    6657982   8  24  0.250000
3                  Chicago    9512999  12   4  0.750000
4        Dallas–Fort Worth    7233323  10   6  0.625000
5         Washington, D.C.    6131977   7   9  0.437500
6             Philadelphia    6070500   9   7  0.562500
7                   Boston    4794447  11   5  0.687500
8   Minneapolis–Saint Paul    3551036   8   7  0.533333
9                   Denver    2853077   6  10  0.375000
10   Miami–Fort Lauderdale    6066387   7   9  0.437500
11                 Phoenix    4661537   3  13  0.187500
12                 Detroit    4297617   6  10  0.375000
13                 Houston    6772470  11   5  0.687500
14                 Atlanta    5789700   7   9  0.437500
15          Tampa Bay Area    3032171   5  11  0.312500
16              Pittsburgh    2342299   9   6  0.600000
17               Cleveland    2055612   7   8  0.466667
18                 Seattle    3798902  10   6  0.625000
19              Cincinnati    2165139   6  10  0.375000
20             Kansas City    2104509  12   4  0.750000
21               Baltimore    2798886  10   6  0.625000
22               Charlotte    2474314   7   9  0.437500
23            Indianapolis    2004230  10   6  0.625000
24               Nashville    1865298   9   7  0.562500
25             New Orleans    1268883  13   3  0.812500
26                 Buffalo    1132804   6  10  0.375000
27            Jacksonville    1478212   5  11  0.312500
28               Green Bay     318236   6   9  0.400000

In [249]:

def nfl_correlation(): 
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    population_by_region = merged_df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)

nfl_correlation()

PearsonRResult(statistic=0.004922112149349428, pvalue=0.9797833458363692)

### Question 4 --------- Solution

In [251]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

# ========== cleaning the cities data ================
cities.replace('\[.*\]','', regex =True, inplace = True)
cities.rename(columns={'Population (2016 est.)[8]':'Population'}, inplace=True)
cities = cities[['Metropolitan area', 'Population', 'NFL']]

# ========== Getting the NFL teams from cities. We're ignoring --- and empty cells 
cities['NFL'] = cities['NFL'].replace('', np.nan).replace('—', np.nan)
cities.dropna(inplace=True)
cities.drop(index=13, inplace=True) #had a space so I manually dropped this
# cities.iloc[13,2]
cities

cities = cities.set_index('NFL')
cities

# ======== dealing with the nfl_df =================
nfl_df = nfl_df[nfl_df['year']==2018][['team', 'W', 'L']]
nfl_df.drop(index = [0,5,10,15,20,25,30,35], inplace=True)

nfl_df.replace(to_replace='[+*]', value='', regex=True, inplace=True)
nfl_df['NFL_short'] = nfl_df['team'].str.split().str[-1]

def get_Metro(team):
    for item in cities.index:
        if team in item:
            return cities.at[item, 'Metropolitan area']
        
nfl_df['Metro'] = nfl_df['NFL_short'].apply(get_Metro)
nfl_df[['W','L']] = nfl_df[['W','L']].astype(int)
nfl_df

# =========== merging df ==============
nfl_df = nfl_df.groupby('Metro').agg(np.sum)

merged_df = pd.merge(cities, nfl_df, how= 'inner',left_on='Metropolitan area', right_on='Metro')
merged_df = merged_df[['Metropolitan area', 'Population', 'W', 'L']]


merged_df['Ratio'] = merged_df['W']/(merged_df['W']+merged_df['L'])
merged_df




def nfl_correlation(): 
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    population_by_region = merged_df['Population'].astype(int) # pass in metropolitan area population from cities
    win_loss_by_region = merged_df['Ratio'] # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)

nfl_correlation()

PearsonRResult(statistic=0.004922112149349428, pvalue=0.9797833458363692)

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [250]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def sports_team_performance():
    # YOUR CODE HERE
#     raise NotImplementedError()
    
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values
sports_team_performance()

AssertionError: The NBA-NHL p-value should be around 0.02