In [134]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false; // disable scroll bar when displaying Folium map
}

# Assignment 2

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

The data for this assignment comes from a subset of The National Centers for Environmental Information (NCEI) [Global Historical Climatology Network daily (GHCNd)](https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-daily) (GHCN-Daily). The GHCN-Daily is comprised of daily climate records from thousands of land surface stations across the globe - it's a wonderfully large dataset to play with! In particular, you will be asked to use data from the Ann Arbor Michigan location (my home!). and this is stored in the file: `assets/fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv`

Each row in this datafile corresponds to a single observation from a weather station, and has the following variables:
* **id** : station identification code
* **date** : date in YYYY-MM-DD format (e.g. 2012-01-24 = January 24, 2012)
* **element** : indicator of element type
    * TMAX : Maximum temperature (tenths of degrees C)
    * TMIN : Minimum temperature (tenths of degrees C)
* **value** : data value for element (tenths of degrees C)

For this assignment, you must:

1. Read the documentation and familiarize yourself with the dataset, then write a python notebook which plots line graphs of the record high and record low temperatures by day of the year over the period 2005-2014. The area between the record high and record low temperatures for each day should be shaded.
2. Overlay a scatter of the 2015 data for any points (highs and lows) for which the ten year record (2005-2014) record high or record low was broken in 2015. (Based on the graph, do you think extreme weather is getting more frequent in 2015?)
3. Watch out for leap days (i.e. February 29th), it is reasonable to remove these points from the dataset for the purpose of this visualization.
4. Make the visual nice! Leverage principles from the first module in this course when developing your solution. Consider issues such as legends, labels, and chart junk.

I've written some steps I think would be good to go through, but there are other ways to solve this assignment so feel free to explore the pandas library! What I really want to see is an image that looks like this sketch I drew at my desk:

![](assets/chris_sketch.png)

In [196]:
#  I'll be using the folium package to render the data into a map in Jupyter.

import folium
import pandas as pd

# get the location information for this dataset
df = pd.read_csv('assets/BinSize_d400.csv')
# df[df['NAME']=='DUBAI INTL']

station_locations_by_hash = df[df['hash'] == 'fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89']
# station_locations_by_hash



# # get longitude and lattitude to plot
lons = station_locations_by_hash['LONGITUDE'].tolist() #basically converts to py list
lats = station_locations_by_hash['LATITUDE'].tolist()
# lats # python lsits

# lons = station_locations_by_hash['LONGITUDE'] # trying to ignore the .tolist()
# lats = station_locations_by_hash['LATITUDE']
# lats # contains the index since this is a pandas series. So to make our work easier, we convert to py lists


# plot on a beautiful folium map
my_map = folium.Map(location = [lats[0], lons[0]], height = 500,  zoom_start = 9)
for lat, lon in zip(lats, lons): # zip just creates a pair....
    folium.Marker([lat, lon]).add_to(my_map)

# render map in Jupyter
# display(my_map)

## Step 1
Load the dataset and transform the data into Celsius (refer to documentation) then extract all of the rows which have minimum or maximum temperatures.

__hint: when I did this step I had two DataFrame objects, each with ~80,000 entries in it__

In [197]:
import pandas as pd
df = pd.read_csv('assets/fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv')
df['Temp_C'] = df['Data_Value']*.1
df

                 ID        Date Element  Data_Value  Temp_C
0       USW00094889  2014-11-12    TMAX          22     2.2
1       USC00208972  2009-04-29    TMIN          56     5.6
2       USC00200032  2008-05-26    TMAX         278    27.8
3       USC00205563  2005-11-11    TMAX         139    13.9
4       USC00200230  2014-02-27    TMAX        -106   -10.6
...             ...         ...     ...         ...     ...
165080  USC00205822  2015-06-09    TMAX         256    25.6
165081  USC00205822  2009-10-06    TMAX         167    16.7
165082  USC00205050  2014-07-14    TMAX         283    28.3
165083  USC00200230  2006-11-29    TMIN         117    11.7
165084  USC00207312  2006-09-04    TMIN         111    11.1

[165085 rows x 5 columns]

In [198]:
# In this code cell, transform the Data_Value column

TMAX_df = df[df['Element']=='TMAX'] #83063 entries
TMIN_df = df[df['Element'] == 'TMIN'] #82022 entries

In [199]:
#  since they all (TMIN, TMAX) have the same ID, ill sort by id and try to remove the ones without any data points to match
TMAX_df = TMAX_df.reset_index().set_index('ID') #stores the original ID val in the 
TMIN_df = TMIN_df.reset_index().set_index('ID')
# TMAX_df = TMAX_df.reset_index().reset_index()
# TMAX_df['level_0'] = TMAX_df['index']

TMAX_df

              index        Date Element  Data_Value  Temp_C
ID
USW00094889       0  2014-11-12    TMAX          22     2.2
USC00200032       2  2008-05-26    TMAX         278    27.8
USC00205563       3  2005-11-11    TMAX         139    13.9
USC00200230       4  2014-02-27    TMAX        -106   -10.6
USW00014833       5  2010-10-01    TMAX         194    19.4
...             ...         ...     ...         ...     ...
USW00094889  165074  2009-07-09    TMAX         261    26.1
USC00205050  165076  2013-09-29    TMAX         261    26.1
USC00205822  165080  2015-06-09    TMAX         256    25.6
USC00205822  165081  2009-10-06    TMAX         167    16.7
USC00205050  165082  2014-07-14    TMAX         283    28.3

[83063 rows x 5 columns]

In [200]:
# another way to have renamed the index to make manipulation easy

# TMAX_df.index.name = 'hello'
# TMAX_df.reset_index()

In [201]:
# TMAX_df
# TMIN_df.sort_index(ascending=True)

In [202]:
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [203]:
TMAX_df['Date']=pd.to_datetime(TMAX_df['Date'])
TMIN_df['Date']=pd.to_datetime(TMIN_df['Date'])

In [204]:
# plt.plot(TMAX_df['Date'], TMAX_df['Temp_C'])
TMAX_df.reset_index(inplace=True)
TMIN_df.reset_index(inplace=True)
TMAX_df.set_index('Date',inplace=True)
TMAX_df.sort_index(ascending=True, inplace = True)

TMIN_df.set_index('Date',inplace=True)
TMIN_df.sort_index(ascending=True, inplace = True)

TMAX_df = TMAX_df.reset_index()
TMIN_df = TMIN_df.reset_index()
# len(TMAX_df['ID'].unique())

In [205]:
# plt.scatter( TMAX_df['Date'], TMAX_df['Temp_C'], c='r')
# plt.scatter(TMIN_df['Date'], TMIN_df['Temp_C'], c = 'g')
# TMIN_df

len(TMAX_df['ID'].unique()) # 24 unique IDs, good point to apply groupby()

24

# RE-SOLVING STEP 1

## Step 1
Load the dataset and transform the data into Celsius (refer to documentation) then extract all of the rows which have minimum or maximum temperatures.

__hint: when I did this step I had two DataFrame objects, each with ~80,000 entries in it__

In [264]:
import pandas as pd
import numpy as np
# import datetime
df = pd.read_csv('assets/fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv')
df['Temp_C'] = df['Data_Value']*.1

df['Date'] = pd.to_datetime(df['Date'])
df = df[['ID', 'Date', 'Element', 'Temp_C']]
# df['Element'].unique()


df['Date'].apply(g)

AttributeError: module 'datetime' has no attribute 'year'

In [247]:
# we want to plot according to the date, so I am sorting the dates
df = df.sort_values('Date')

# MAXIMUM TEMP
TMAX_df = df[df['Element']=="TMAX"]

# MINIMUM TEMP
TMIN_df = df[df['Element']=="TMIN"]

TMIN_df[TMIN_df['Date']==]

                ID       Date Element  Temp_C
60995  USW00004848 2005-01-01    TMIN     0.0
41309  USC00208080 2005-01-01    TMIN    -3.9
39468  USC00205563 2005-01-01    TMIN    -2.8
49074  USC00207312 2005-01-01    TMIN    -3.9
49827  USC00200228 2005-01-01    TMIN    -3.9
...            ...        ...     ...     ...
37905  USW00014853 2015-12-31    TMIN     0.0
32919  USC00207308 2015-12-31    TMIN    -3.3
25717  USC00201502 2015-12-31    TMIN    -2.2
21087  USC00208202 2015-12-31    TMIN    -5.6
29410  USC00200230 2015-12-31    TMIN    -1.7

[82022 rows x 4 columns]

In [ ]:

# there are 24 different IDs, hence I grouped according to IDs
# new_df = df.groupby('ID')
# new_df[new_df['Element']=='TMAX']


# TMIN_df.plot("Date") #, TMAX_df

# df[df['Element']=='TMIN'].groupby('ID').agg({'Min': np.min, 'Max':np.max})

## Step 2
In order to visualize the data we would plot the min and max data for each day of the year between the years 2005 and 2014 across all weather stations. But we also need to find out when the min or max temperature in 2015 falls below the min or rises above the max for the previous decade.

If you did step 1 you have two Series objects with min and max times for the years 2005 through 2015. You can use Pandas `groupby` to create max and min temperature Series objects across all weather stations for each day of these years, and you can deal with the records for February 29 (the leap year) by dropping them.

__hint: when I finished this step, I had two DataFrame objects, each with exactly 4015 observations in them__

In [24]:
# create a DataFrame of maximum temperature by date

# create a DataFrame of minimum temperatures by date

## Step 3
Now that you have grouped the daily max and min temperatures for each day of the years 2005 through 2015, you can separate out the data for 2015. Then you can use the Pandas `groupby` function to find the max and min of the temperature data for each __day of the year__ for the 2005-2014 data.

__hint: at the end of this step I had two DataFrames, one of maximum and the other of minimum values, which each had 365 observations in them. I also had another pair of similar DataFrames but only for the year 2015.__

In [26]:
# calculate the minimum and maximum values for the day of the year for 2005 through 2014

# calculate the minimum and maximum values for the years 2015

## Step 4
Now it's time to plot! You need to explore matplotlib in order to plot line graphs of the min and max temperatures for the years 2005 through 2014 and to scatter plot __only__ the daily 2015 temperatures that exceeded those values.

In [27]:
import matplotlib.pyplot as plt
from calendar import month_abbr

# put your plotting code here!